Source: python-pathlib
Maintainer: Frank Brehm <frank.brehm@profitbricks.com>
Section: python
Priority: optional
Build-Depends: debhelper (>= 9),
               dh-python,
               python-all (>= 2.6.6-3~),
               python-sphinx
X-Python-Version: >= 2.6
Standards-Version: 3.9.6
Homepage: https://pypi.python.org/pypi/pathlib/

Package: python-pathlib
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Provides: ${python:Provides}
Description: set of Python 2 classes to handle filesystem paths
 Pathlib offers a set of classes to handle filesystem paths.
 It offers the following advantages over using string objects:
 .
  * No more cumbersome use of os and os.path functions. Everything
    can be done easily through operators, attribute accesses, and method calls.
  * Embodies the semantics of different path types. For example,
    comparing Windows paths ignores casing.
  * Well-defined semantics, eliminating any warts or ambiguities
    (forward vs. backward slashes, etc.).
 .
 This is the Python 2 version of the package.

Package: python-pathlib-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}, ${sphinxdoc:Depends}
Description: set of Python 2 classes to handle filesystem paths (Documentation)
 Pathlib offers a set of classes to handle filesystem paths.
 It offers the following advantages over using string objects:
 .
  * No more cumbersome use of os and os.path functions. Everything
    can be done easily through operators, attribute accesses, and method calls.
  * Embodies the semantics of different path types. For example,
    comparing Windows paths ignores casing.
  * Well-defined semantics, eliminating any warts or ambiguities
    (forward vs. backward slashes, etc.).
 .
 This package includes the documentation in HTML and TXT format.
