#!/usr/bin/make -f

export PYBUILD_NAME=pathlib

%:
	dh $@ --with python2,sphinxdoc --buildsystem=pybuild

override_dh_auto_clean:
	dh_auto_clean
	make -C docs clean

override_dh_auto_build:
	dh_auto_build
	make -C docs html man text

override_dh_auto_test:
	PYBUILD_TEST_ARGS="-s $(CURDIR)" dh_auto_test

override_dh_compress:
	dh_compress -X.txt
